/* General Elements*/
body{
	background-image: url("../images/background.png")
}

h1{
    background-color: rgb(146, 84, 13);
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
}